.just_for_fun_Dont_delete {
  position: absolute;
  top: 53px;
  left: 23px;
  width:  7px;
  height: 7px;
  cursor: pointer;
}

.maker {
  position: absolute;
  display: inline-block;
  width:  100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html.is-login,
body.is-login {
  height: 100%;
}

.loginform {
  display: flex;
  background-color: #150A09;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.47, 1.71, 0.71, -1.99);
  cursor: default;
  margin: auto;
}

.hover:hover > .outline_loginform > .loginform {
  width: 800px;
  height: 800px;
  cursor: default;
}

.loginform_sizer {
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
  height: 60%;
  opacity: 0;
  transition-delay: .1s;
  transition-duration: .2s;
  cursor: default;
}

.outline_loginform {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  height: 230px;
  width: 230px;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.47, 1.71, 0.71, -1.99);
  cursor: default;
  box-shadow: 0 0 160px #fff ;
}

.hover:hover > .outline_loginform {
  width: 800px;
  height: 800px;
  cursor: default;
}

.hover:hover > .outline_loginform > .loginform > .loginform_sizer {
  opacity: 1;
  transition-delay:  1s;
  transition-duration: 2s;
  cursor: default;
}

.formbottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: default;
}

.btn_def {
  border: none;
  background-color: #000;
  padding: 0;
  border-radius: 12px;
}

.btn_def:hover {
  box-shadow: 0 0 30px #fff;
  animation: spark 1s linear 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes spark {
  0% {
           opacity: 0;
     }
   4% {
           opacity: 1;
      }
  5% {
           opacity: 0;
      }
   9% {
           opacity: 1;
      }
  10% {
           opacity: 0;
      }
  35% {
           opacity: 1;
      }
  36% {
          opacity: 0;
      }
  39% {
           opacity: 1;
      }
  40% {
          opacity: 0;
      }
  59% {
          opacity: 1;
      }
  60% {
          opacity: 0;
      }
  100% {
          opacity: 1;
       }
}

.title {
  font-size: 1px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0px 3px #005f25, 8px 11px 20px #00733c;
  color: #5ba654;
  -webkit-text-stroke-width: 1px;
}

.hover:hover > .outline_loginform > .loginform > .loginform_sizer > .formtop > .title_sizer > .title {
  font-size: 65px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0px 3px #005f25, 8px 11px 20px #00733c;
  color: #5ba654;
  -webkit-text-stroke-width: 1px;
}

.subtitle {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0;
  color:  #fff;
  text-shadow: 7px 3px 7px #fff;
}

.signin {
  opacity: .2;
  width: 2px;
  height: 2px;
}

.hover:hover > .outline_loginform > .loginform > .loginform_sizer > .formbottom > .btn_def > .signin {
  width: 344px;
  height: 80px;
}

.signin:hover {
  opacity: 1;
}

.none_account {
  margin-top: 15px;
}

.hover {
  position: relative;
}

.icon_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.giz_icon {
  margin: 0 auto;
}

@media screen and (max-width: 766px) {